/* ----------------------------------------
Gutenberg
---------------------------------------- */

[class*="wp-block-"]{
    border-radius: 5px;
}

.wp-block-image.aligncenter{
  display: block ;
}

.wp-block-media-text__media img,
.wp-block-media-text__media video{height: auto;}

body .alignfull {
  margin: 5px;
}

@media only screen and (min-width: 960px) {
  body .alignfull {
    width: auto;
    max-width: 1000%;
  }

  body .alignwide {
    width: auto;
    max-width: 1000%;
  }

  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
}